h1{
    font-size: 80px;
    font-family: 'Anton', sans-serif;
    color: darkblue;

}
.orange-highlight{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-color: green;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.header_1{
    text-align: center;
}